/* Header styling */
.header {
    background-color: #3498db;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px 20px 20px;
    font-size: large;
  }
  
  .nav {
    font-size: 18px;
  }
  
  